fastapi
tqdm
uvicorn
xarray
pandas
geopandas
plotly
streamlit
requests
shapely
statsmodels
cupy-cuda12x
numpy==1.26
matplotlib
scipy
xgboost
scikit-learn==1.6.1
bokeh==2.4.3
joblib
xarray[io]
netCDF4
streamlit_lottie